/* .ability-button-bar .ability {
  margin-right: 10px;
  margin-left: 10px;
} */

.ability, .stat-card {
  display: inline-block;
  text-align: center;
  line-height: 1;
}

.stat-bar {
  text-align: center;
  margin-bottom: 10px;
}

.stat-bar .stat-card {
  /* Or use grid? */
  margin-right: 20px;
}

.stat-bar .stat {
  border-radius: 5px;
}

.ability button {
  border: none;
  font-size: 18px;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
}

.ability button:disabled {
  background-color: #ccc;
}

.button-plus:hover:not(:disabled) {
  background-color: #7fc697;
}

.button-plus:active:not(:disabled) {
  background-color: #75b58b;
}

.button-plus {
  background-color: #90dbaa;
  border-radius: 5px 5px 0px 0px;
}

.button-minus:hover:not(:disabled) {
  background-color: #c94646;
}

.button-minus:active:not(:disabled) {
  background-color: #a53838;
}

.button-minus {
  padding-top: 5px;
  background-color: #f95959;
  border-radius: 0px 0px 5px 5px;
}

.stat {
  /* Maybe 32 on bigger screens like desktop? */
  font-size: 24px;
  font-family: monospace;
}

.stat-ability .stat {
  background-color: #cedfe0;
}

.stat-basic .stat {
  background-color: rgb(135, 197, 83);
}

.stat-defense .stat {
  background-color: rgb(119, 206, 221);
}

.stat-label {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  min-width: calc(3ch + 10px);
}

.stat-total {
  font-weight: bold;
}

.ability-mod {
  font-family: monospace;
  background-color: #cedfe0;
}